
body {
  background-image: url('../assets/images/background1.png');
  background-size: 1333px 2000px; 
  background-origin: border-box;
  background-clip: content-box;
}

.container {
  display: flex;
  width: 100%;
}

.right {
  flex-basis: 20%;
  align-self: flex-start;
  overflow-y: auto; 
  max-height: 90vh;
  background-color: transparent;
  margin: 8px 5px;
}
.left{
  flex-basis: 15%;
  align-self: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 5px;
}

.middle {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-top: 10px;
  padding: .7em;
  align-self: flex-start; 
  background-color: rgba(255, 255, 255, 0.692);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.middle-text {
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  font-size: large;
  font-weight: bold;
  border-radius: 1px;
  flex-grow: 1;
  margin-top: 10px;
  padding: .7em;
  align-self: flex-start; 
  background-color: rgba(255, 255, 255, 0.692);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.loading-spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #091b27;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Menu button styles */
.menu-button {
  width: 100%;
  height: 3em;
  display: inline-block;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.692); 
}
.info-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 5em;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: black;
  /* border: 2px solid #026988; */
  background-color: rgba(255, 255, 255, .9);
  margin-bottom: .2em;
}

.menu-button:hover {
  background-color: #026988; 
  color: white;
}

.menu-button:active {
  background-color: #003d80; 
}

.menu-button.secondary {
  background-color: #6c757d; 
}

.menu-button.secondary:hover {
  background-color: #495057; 
}

.menu-button.secondary:active {
  background-color: #343a40; 
}
@media (max-width: 3800px){
  
}
@media (max-width: 1920px){
  
}
@media (max-width: 920px){
  
}

@media (max-width: 920px){
  .middle {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .left{
    order: 2;
    flex-basis: 20%;
  }
  .right {
    order: 2;
    flex-basis: 65%;
  }

  .middle {
    order: 1;
    flex-basis: 100%;
  }
  .middle-text {
    order: 1;
    flex-basis: 100%;
  }
  
}
@media (max-width: 576px) {
  .left,
  .right {
    flex-basis: 100%;
  }
  .left{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .middle {
    display: flex;
    flex-direction: column;
    align-self: flex-start; 
  }

}
