

  .input-container-landing{
    margin-top: 14em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .overlay{
    position: absolute;
    top: 10%;
    left: 10%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 6px;
    color: #fff; 
    text-align: center; 
    padding: 25px;
    max-width: 45vw;
  }
  @media (max-width: 768px) {
    .landing-page-hero {
      height: auto;
    }
    .overlay {
      display: none;
    }
    
  }
  @media (max-width: 576px) {
    .input-container-landing{
      margin-top: 0em;
      display: flex;
      flex-direction: column;
    }
  }