.reset-warning{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 2em;
    transform: translate(-80%, 50%);
    z-index: 2;
}
.reset-text{
    font-size: larger;
    font-weight: bold;
    margin-bottom: .5em;
}
.reset-message{
    font-size: small;
    text-align: center;
}

.warning-buttons{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}